<br>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="text-center">
			<h1>@<%= @user.username %></h1>
			<br>
			<p><%= image_tag @user.avatar_url(:show), class: "img-thumbnail" %></p>
			<p>Name: <%= @user.name %></p>
			<p>Location: <%= @user.location %></p>
			<p>Bio: <%= @user.bio %></p>
			<p>Number of Tweets: <%= @user.tweets.length %></p>
			<p><%= link_to "Number of Followers: #{@followers}", followers_path(id: @user.id) %></p>
			<p><%= link_to "Number Following: #{@user.following.length}", following_path(id: @user.id) %></p>

			<p>
				<% unless current_user.id == @user.id %>
				  <% if current_user.following.include?(@user.id) %>
				    <%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-primary unfollow-btn" %>
				  <% else %>
				    <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
				  <% end %>
				<% end %>
			</p>
			<h1>@<%= @user.username %>'s Tweets</h1>
		</div>

		<% @user.tweets.each do |tweet| %>
		  <div class="card">
			  <div class="card-body">
			    <h5 class="card-title">
			    	<span><%= image_tag tweet.user.avatar_url(:thumb), class: "img-thumbnail" %></span>
			    	@<%= link_to tweet.user.username, show_user_path(id: tweet.user_id) %>
			    </h5>
			    <p class="card-text"><%= tweet.message.html_safe %></p>
			    <a href="#" class="card-link">Card link</a>
			    <a href="#" class="card-link">Another link</a>
			  </div>
			</div>
			<br>
		<% end %>

		<div class="text-center">
			<div class="btn-group">
				<%= link_to "Feed", feed_path, class: "btn btn-primary" %>
				<%= link_to "Trending", trending_path, class: "btn btn-primary" %>
			</div>
		</div>
		
	</div>
</div>
<br>
