<br>
<h1 class="text-center">Messages with <%= @tag.phrase %></h1>
<br>

<div class="row">
  <div class="col-md-3"></div>
	<div class="col-md-6">
    <% @tag.tweets.order(created_at: :desc).each do |tweet| %>
	    <div class="card">
			  <div class="card-body">
			  	<div class="media">
					  <%= image_tag tweet.user.avatar_url(:thumb), class: "rounded-circle", style: "margin-right: 10px" %>
					  <div class="media-body">
						    <p>
						    	<%= tweet.user.name %> @<%= link_to tweet.user.username, show_user_path(id: tweet.user_id) %> • <%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %><%= tweet.created_at.strftime('%b %e') if Time.now - tweet.created_at > 86400 %>
						    </p>
						    <%= tweet.message.html_safe %>
					  </div>
					</div>
			  </div>
			</div>
			<br>
    <% end %>
   </div>
</div>
<br>

<div class="text-center">
	<div class="btn-group">
		<%= link_to "Feed", feed_path, class: "btn btn-primary" %>
		<%= link_to "Trending", trending_path, class: "btn btn-primary" %>
	</div>
</div>

<br>