<br>
<h3 class="text-center">Top 3 Tweeters</h3>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Name</th>
      <th scope="col">Handle</th>
      <th scope="col">Total Tweets</th>
    </tr>
  </thead>
  <tbody>
  	<% @tweet_hash.each_with_index do |(key, value), index| %>
	    <tr>
	      <th scope="row"><%= index+1 %></th>
	      <td><%= User.find(key).name %></td>
	      <td>@<%= link_to User.find(key).username, show_user_path(id: User.find(key).id) %></td>
	      <td><%= value %></td>
	    </tr>
    <% end %>
  </tbody>
</table>
<hr>

<br>
<h3 class="text-center">Top 3 Tags</h3>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Tag</th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <tbody>
  	<% @tweet_tag_hash.each_with_index do |(key, value), index| %>
	    <tr>
	      <th scope="row"><%= index+1 %></th>
	      <td><%= link_to Tag.find(key).phrase, tag_tweets_path(id: key) %></td>
	      <td><%= value %></td>
	    </tr>
    <% end %>
  </tbody>
</table>
<hr>

<div class="text-center">
	<%= link_to "Feed", feed_path, class: "btn btn-primary" %>
</div>
<br>
